@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://joshruds.github.io/HOME/assets/background.jpeg');
}

.btn {
    background-color: black;
    color: rgba(255, 255, 255, 0.739);
    padding: 15px 25px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.739);
    color: black;
}
